<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/from/css/style.css" />
    <script src="/from/js/from.js"></script>
</head>
<body>
<div class="container">
    <div class="center">
        <h1>Login</h1>
        <form method="POST" th:action="@{/user/login}" th:object="${loginRequest}">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></div>
            <div th:text="${result1}" style="color: red"></div>
            <div th:text="${result2}" style="color: green; text-align: center; background-color: lightgreen"></div>
            <div class="txt_field">
                <input type="email" id="email" th:field="*{email}" equired>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" id="password" th:field="*{password}" required>
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" value="Submit">
            <div class="signup_link">
                No Account ? <a th:href="@{/user/register}">Register Here</a>
            </div>
        </form>
    </div>
</div>
<script src="/dashboard/libs/jquery/dist/jquery.min.js"></script>
</body>
</html>